h1{
	height:192px;
	/* background-color: yellow; */
	/*background-image: url('../images/img.jpg'); */
	background-image: url('https://th.bing.com/th?id=ORMS.4f449c08d0ee2afee6f493f62235fafb&pid=Wdp&w=268&h=140&qlt=90&c=1&rs=1&dpr=1&p=0');
	
}
head{

}
ul{
	display: inline-block;
}